<div class="about-text ">
  <h2>{{ 'ABOUT' | translate }}</h2>
  <div class="container mt-4 about-page">

    <!-- 1-й блок: відео зліва, текст справа -->
    <div class="about-video-text-row">
      <div class="about-video-col">
        <video muted autoplay loop  playsinline src="assets/video/IMG_4288.MP4" width="350" height="200" class="about-video"></video>
      </div>
      <div class="about-text-col">
        <p> {{ 'ABOUT_TEXT' | translate }}</p>
      </div>
    </div>

    <!-- 2-й блок: текст зліва, відео справа -->
    <div class="about-video-text-row reverse">
      
      <div class="about-video-col">
        <video muted autoplay loop  playsinline src="assets/video/IMG_0562.MP4" width="350" height="200" class="about-video"></video>
      </div>
      <div class="about-text-col">
        <p>{{ 'ABOUT_TEXT2' | translate }}</p>
      </div>
    </div>

    <!-- 3-й блок: відео зліва, текст справа -->
    <div class="about-video-text-row">
      <div class="about-video-col">
        <video muted autoplay loop  playsinline src="assets/video/IMG_9666.MP4" width="350" height="200" class="about-video"></video>
      </div>
      <div class="about-text-col">
        <p>{{ 'ABOUT_TEXT3' | translate }}</p>
      </div>
    </div>

  </div>
</div>